@import "tailwindcss";

@theme {
  --color-primary: #f5f5f4;
  --color-secondary: #1c1917;
  --color-accent: #d97706;
}

#icons {
  display: none;
}

#product-box:hover {
  #icons {
    display: flex !important;
  }
}
